.btn {
  font-size: 16px;
  border: none;
  width: 25vw;
  height: 6.5vh;
  border-radius: 3vh;
  margin: 4px 0;
  font-weight: 600;
}

button:hover {
  transform: scale(1.02);
}

.button {
  height: 6vh;
  width: 18vh;
  margin: 0 10px;
  border: none;
  border-radius: 3vh;
  font-size: 20px;
  font-weight: 600;
}

button:hover {
  transform: scale(1.02);
}

.filled-button {
  background: linear-gradient(90deg, rgba(153,102,204,0.8) 0%, rgba(202,31,123,0.8) 100%);
  color: #101010;
}

.filled-button:hover {
  background: linear-gradient(90deg, rgba(153,102,204,1) 0%, rgba(202,31,123,1) 100%);
}

.framed-button {
  background: linear-gradient(90deg, rgba(153,102,204,0.8) 0%, rgba(202,31,123,0.8) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.framed-button:hover {
  background: linear-gradient(90deg, rgba(153,102,204,1) 0%, rgba(202,31,123,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transparent-button {
  background-color: transparent;
  color: white;
  font-size: 14px;
  width: 50%;
  height: 5vh;
}

.transparent-button:hover {
  background-color: rgba(255,255,255,0.1);
}

.warning-button {
  background: #D0312D;}

.warning-button:hover {
  background: #B90E0A;
}

.cancel-button {
  background: #AAAAAA;}

.cancel-button:hover {
  background: #999999;
}