.main-container {
  background-color: #0F021D;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 84vh;
}

.text {
  margin-right: auto;
  margin-left: 5vw;
}

.image-container {
  clip-path: circle(48% at 50% 50%);
  margin-right: 5vw;
}

.image-container img {
  height: 84vh;
}

h1 {
  font-size: 42px;
}

h3 {
  font-size: 22px;
}

footer {
  min-height: 6vh;
  background-color: #0F021D;
  color: #ffffff;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 1.4vh;
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 36px #CA1F7B,
    0 0 49px #CA1F7B,
    0 0 64px #CA1F7B,
    0 0 81px #CA1F7B,
    0 0 100px #CA1F7B;
}

.neon-text2 {
  color: #fff;
  text-shadow:
    0 0 1px #fff,
    0 0 3px #fff,
    0 0 6px #fff,
    0 0 36px #9966CC,
    0 0 49px #9966CC,
    0 0 64px #9966CC,
    0 0 81px #9966CC,
    0 0 100px #9966CC;
}