.navbar {
  background-color: #101010;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.logo {
  height: 6vh;
  padding: 10px;
  margin-right: auto;
}

.nav-buttons {
  display: inline-block;
}


